<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Decisions</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        {{>header}}
        {{body}}
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
