<div class="container">
    <div style="font-family: avantBold"> </div>
    
    <canvas id='canvas' class="" width='700' height='700'>
                Canvas not supported, use another browser.
    </canvas>
    <div class="insideCircle">
        <div class="insideCircle__circle"></div>
    </div>
    <h1>Labas rytas</h1>
    <div id="answer-box" class="answer">
            <p id="popupText" class="answer__Text"></p>
    </div>
</div>

<div class="container container-input">
    <div id="input-field" class="input-field">


    </div>
    <button id="apply-btn" type="button" name="button">Apply Changes</button>
    <button id="clr-btn" type="button" name="button">Clear inputs</button>
</div>
